@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.servicos-agendados-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s;
}

.servicos-agendados-container:hover {
    transform: translateY(-5px);
}

h2 {
    text-align: center;
    color: #673ab7;
    margin-bottom: 30px;
    font-size: 1.8em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f3e5f5;
    margin-bottom: 15px;
    padding: 20px;
    border-left: 6px solid #7e57c2;
    border-radius: 8px;
    font-size: 1.1em;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #e1bee7;
}
